In [35]:
from itertools import islice
import pandas as pd
import numpy as np
import sys
import os

In [36]:
DATA_DIR = "../nsp/Data/Additional_data/"
INCOME_FILE = os.path.join(DATA_DIR, "GDP_PPP_CI.csv")
INTERVAL_FILE = os.path.join(DATA_DIR, "year_intervals.txt")
CNTRY_YEAR_INCOMEVALUE = "test.csv"

In [37]:
def cal_avg(df, periods):
    """calculate the average value during period for the data
    i.e. calculate average income between 13-17" """
    for start, end in periods:
        df[f"{start}-{end}"] = df[[str(ind) for ind in range(start, end + 1)]].mean(axis=1)
    return df

In [ ]:
income_df = pd.read_csv(INCOME_FILE, encoding="ISO-8859-1")
periods = [
    tuple(map(int, x.strip("\n").split("-")))
    for x in islice(open(INTERVAL_FILE), 0, None)
]
income_df = cal_avg(income_df, periods)
income_df = income_df[
    ["Country Code"] + [f"{start}-{end}" for start, end in periods]
]

income_df.melt(
    id_vars=["Country Code"], var_name="Year", value_name="Income"
).rename(columns={"Country Code": "Code"}).to_csv(
    CNTRY_YEAR_INCOMEVALUE, index=False
)

# Explanation

In [38]:
income_df = pd.read_csv(INCOME_FILE, encoding="ISO-8859-1")
income_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,34682.790120,33740.870890,35490.183980,35466.702230,37330.518250,38098.326590,38137.333580,38365.446050,39409.227530,NaN
1,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1474.479477,1659.507551,1649.150373,1832.734639,1902.508410,1927.087320,1918.938459,1934.616840,1972.178018,NaN
2,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6081.329190,6228.342912,6346.944372,6770.668417,6970.313604,7182.827798,7082.241175,6756.144137,6643.754972,NaN
3,Albania,ALB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8814.847160,9627.937290,10207.718890,10526.280130,10571.003650,11259.279720,11661.981180,11890.500390,12943.460710,NaN
4,Andorra,AND,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
periods = [
    tuple(map(int, x.strip("\n").split("-")))
    for x in islice(open(INTERVAL_FILE), 0, None)
]
periods

[(1973, 1977),
 (1978, 1982),
 (1983, 1987),
 (1988, 1992),
 (1993, 1997),
 (1998, 2002),
 (2003, 2007),
 (2008, 2012),
 (2013, 2017)]

In [40]:
income_df[[str(ind) for ind in range(2003, 2007 + 1)]]

             2003          2004          2005          2006          2007
0    31318.036750  34120.162000  35184.582710  36355.438330  37849.233480
1      909.862558    906.664470   1001.410407   1052.924482   1196.963863
2     3590.407916   3949.493773   4524.519253   5019.808921   5669.653527
3     4994.524066   5422.770252   5865.310504   6559.777896   7276.307768
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259   5179.441965   5457.172635   5968.547735   6377.509786   6968.076576
260   3360.668430   3490.716252   3699.915248   3827.095212   3949.783998
261   8426.921175   8940.667930   9601.265895  10335.640240  11062.378690
262   1916.105741   2051.607433   2210.472268   2392.690039   2589.897156
263   1784.308986   1707.489061   1640.904873   1609.852525   1567.752858

[264 rows x 5 columns]

In [41]:
income_df[[str(ind) for ind in range(2003, 2007 + 1)]].mean(axis=1)

0      34965.490654
1       1013.565156
2       4550.776678
3       6023.738097
4               NaN
           ...
259     5990.149739
260     3665.635828
261     9673.374786
262     2232.154527
263     1662.061661
Length: 264, dtype: float64

In [42]:

income_df = cal_avg(income_df, periods)
income_df = income_df[["Country Code"] + [f"{start}-{end}" for start, end in periods]]
income_df.head()

,Country Code,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
0,ABW,NaN,NaN,NaN,25390.951563,28558.959338,31342.497814,34965.490654,35577.326894,38268.170400
1,AFG,NaN,NaN,NaN,NaN,NaN,860.137134,1013.565156,1570.549361,1931.065809
2,AGO,NaN,NaN,NaN,2950.746116,2462.783660,3156.845681,4550.776678,6325.737355,6927.056337
3,ALB,NaN,NaN,NaN,2114.013365,2542.741392,3863.344073,6023.738097,9481.020328,11665.245130
4,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
income_df = income_df.melt(
    id_vars=["Country Code"], var_name="Year", value_name="Income"
).rename(columns={"Country Code": "Code"})
income_df.head()

  Code       Year  Income
0  ABW  1973-1977     NaN
1  AFG  1973-1977     NaN
2  AGO  1973-1977     NaN
3  ALB  1973-1977     NaN
4  AND  1973-1977     NaN